*{
    box-sizing: border-box;
}
.info-container{
    display: flex;
    height: 600px;
    padding-left: 20px;
    justify-content: space-between;
}
.side2{
    flex:1;
    background: url("../images/image-interactive.jpg") no-repeat;
    background-position: center;
}
.info{
    flex: 1;
    margin: auto;
    text-align: center;
    word-spacing: .2em;
    
}

.btn{
border-radius: 6px;
border: none;
height: 2.5em;
}
.signin{
background: green;
color: white;
width: 5em;
cursor: pointer;
}
.signup{
color: white;
background: blue;
}