/*styling for the index page and some sharerable styles*/
body{
    margin: 0px;   
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.12fr 1fr 0.12fr;
    grid-template-areas: 
        "nav nav"
        "sidebar main"
        "sidebar footer"
        ;
}

nav{
    background-color: #1c1717;
    grid-area: nav;
    padding-bottom: 5px;
}
.nav-header{
    color: #01a1ff;    
}

.nav-header span{
    color: #19db33;   

}
.labelname{
    float: left;
    margin-left: 10px;
}
.logo{
    width: 60px;
    float: left;
    height: 60px;
    border-radius: 100px;
    margin-left: 40px;
    
}

.home-container{
    background-color: #e8e3e3;
    grid-area: main;
    overflow-y: scroll;
    width: 99%;
    height:520px;
}

.sidebar{
    background-color: #454141;
    grid-area: sidebar;
    display: block;
    text-decoration: none;
    line-height: 35px;
    font-size: 1.2rem;
    transition: 0.5s;
    transition-property:  background;
}

.sidebar i{
    padding-right: 10px;
}

.sidebar a{
    text-decoration: none;
    cursor: pointer;
    color: #fffafa;
    display: block;
    padding-left: 30px;
}
.sidebar a:hover{
    background: #01a1ff;
}

.footer{
    background-color: #1c1717;
    grid-area: footer;
    text-align: center;
    padding-top: 20px;
    color:#fffafa;
}

.footer a{
    color: #01a1ff;
    text-decoration: none;
}

a.active{
    background-color: #01a1ff;    
}

/*Home page design*/
.home-container h3{
    text-align: center;
}
.inbox p{
    padding-left: 10px;
    padding-top: 2px;
    
}
.inbox div{
    background-color: rgba(175, 157, 157, 0.233);
    margin: 0px; 
    cursor: pointer;
}
.inbox div:hover{
    background-color: #f5f5f5;
}
.inbox form{
    padding-left: 20px;
}

/*Extra small devices*/
@media (max-width: 800px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.12fr 1fr 0.12fr;
        grid-template-areas: 
            "nav"
            "sidebar"
            "main"
            "footer"
            ;
    } 
    .inbox form{
        text-align: center;
    }
}

/*Medium devices*/
@media (min-width: 800px){
    .container{
        height: 100vh;
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        grid-template-rows: 0.12fr 1fr 0.12fr;
        grid-template-areas: 
            "nav nav"
            "sidebar main"
            "sidebar footer"
            ;
    }
    .sidebar{     
        overflow-y: scroll;
    }

}
.info-container{
    display: flex;
    height: 500px;
    padding-left: 20px;
    justify-content: space-between;
}
.form-container{
    display: flex;
    margin: auto;
    width: 450px;
    padding-left: 20px;
    justify-content: space-between;
}
.side2{
    flex:1;
    background: url("../images/image-interactive.jpg") no-repeat;
    background-position: center;
}
.info{
    flex: 1;
    margin: auto;
    text-align: center;
    word-spacing: .2em;
    
}


.signin{
color: white;
width: 5em;
cursor: pointer;
}
.signup{
color: white;
background: blue;
}
.center{
margin-top: 120px;
margin-bottom: 90px;

}

/*styles for the login */
.acct-side-b input{
    height: 2em;
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;
    border-bottom: 3px solid #ffff;
}
.logosign{
    border-radius: 40px;
    width: 90px;
    height: 90px;
}
.acct-side-b button{
    height: 2em;
    width: 250px;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    color:white;
    background-color:#02a818e1;  
}

.acct-side-b h3{
    margin: 10px;
    
}
.acct-side-b {
    margin: auto;
    background-color: #01a1ff;
    color: white;
    align-content: center;
    text-align: center;
    border-radius: 17px;
}
a{
    
    color: #ffff;
}
.msg {
    font-weight: bold;
    background-color: beige;
}
a.active{
    background-color: #01a1ff;    
}

.btn{
    border-radius: 9px;
    border: none;
    }

.btn-danger{
    background-color: #f02a2a;
    color: #f5f5f5;
    font-size: 0.9em;
    width: 90px;
    height: 40px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.btn-success{
    background-color: #1fa304;
    color: #f5f5f5;
    font-size: 0.9em;
    width: 90px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.btn-reset{
    background-color: #20201f;
    color: #f5f5f5;
    font-size: 0.9em;
    width: 90px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.inputs{
    font-size: 0.9em;
    height: 35px;
    padding-left: 8px;
    border-radius: 6px;
    font-weight: 600;
    margin-top:15px ;
}
h2{
    text-align: center;
}
textarea {
    font-size: 0.9em;
    padding-left: 8px;
    border-radius: 6px;
    font-weight: 600;
    margin-top:15px ;
}


